* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4rem;
  max-width: 1440px;
  margin: 0 auto;
}
* body header {
  max-width: inherit;
}
* body header .nav {
  width: 100%;
  height: 5rem;
}
* body header .nav .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
* body header .nav .nav-container .logo {
  margin-top: 0.4rem;
}
* body header .nav .nav-container .search input {
  padding: 0.5rem;
  background: transparent;
  border-color: transparent;
  color: #161616;
}
* body header .nav .nav-container .search:hover {
  background: #f2f2f2;
}
* body header .nav .nav-container .search i {
  color: #161616;
}
* body header .nav .nav-container .menu {
  float: right;
}
* body header .nav .nav-container .menu ul {
  list-style: none;
  align-items: center;
  margin-top: 0.4rem;
}
* body header .nav .nav-container .menu ul li {
  display: inline-block;
  padding: 0 2rem;
}
* body header .nav .nav-container .menu ul li a {
  text-decoration: none;
  color: #161616;
}
* body header .nav .nav-container .menu ul li a:hover {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0c5a4b;
}
* body #showcase {
  padding-top: 5rem;
}
* body #showcase .showcase-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}
* body #showcase .showcase-container .showcase-img img {
  width: 100%;
}
* body #showcase .showcase-container .showcase-textblock {
  display: flex;
  align-items: center;
  background: #5b977b;
  color: #fff;
  height: 98.5%;
  margin-bottom: 6px;
  padding: 3rem;
}
* body #showcase .showcase-container .showcase-textblock h1 {
  padding-bottom: 2rem;
  font-size: 3rem;
  line-height: 3.5rem;
}
* body #about {
  padding-top: 5rem;
}
* body #about .about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}
* body #about .about-container .text {
  padding: 3rem 3rem 3rem 1rem;
}
* body #about .about-container .text h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  color: #0c5a4b;
}
* body #about .about-container .text a {
  color: #0c5a4b;
  text-decoration: none;
}
* body #about .about-container .text a:hover {
  color: #159e83;
}
* body #about .about-container p {
  padding-bottom: 2rem;
}
* body #about .about-container h3 {
  padding-bottom: 1rem;
}
* body #about .about-container ul {
  list-style: none;
}
* body #about .about-container ul li {
  display: flex;
}
* body #about .about-container ul li i {
  padding-right: 1.5rem;
  color: #0c5a4b;
}
* body #features {
  padding-top: 5rem;
}
* body #features .features-container {
  max-width: 1200px;
  margin: 0 auto;
}
* body #features .features-container h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  color: #0c5a4b;
}
* body #features .features-container #popular-header {
  display: flex;
}
* body #features .features-container #popular-header .header {
  padding: 0 10rem 3rem 1rem;
}
* body #features .features-container #popular-header .arrows {
  display: flex;
  align-items: end;
  padding: 1rem 1rem 3rem 1rem;
}
* body #features .features-container #popular-header .arrows a {
  color: #97c1ad;
}
* body #features .features-container #popular-header .arrows a:hover {
  color: #d7e7e0;
}
* body #features .features-container .popular-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
* body #features .features-container .popular-blocks .block {
  box-shadow: 0 0.5rem 1rem #cbd2d1;
}
* body #features .features-container .popular-blocks .block .popular-text {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 2rem;
  color: #0c5a4b;
}
* body #features .features-container .popular-blocks .block .popular-text a {
  background: #e7f1ec;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
}
* body #features .features-container .popular-blocks .block .popular-text a:hover {
  background: #b7d4c6;
}
* body #features .features-container .popular-blocks .block .popular-text .price {
  font-size: 1.5rem;
}
* body #features .features-container .popular-blocks .block .popular-text .btn {
  color: #fff;
  background: #5b977b;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.8rem;
}
* body #features .features-container .popular-blocks .block .popular-text .btn:hover {
  background: #88b7a1;
}
* body #features .features-container .popular-blocks .block .popular-text .popular-ref {
  text-align: right;
}
* body #all .all-container {
  max-width: 1200px;
  margin: 0 auto;
}
* body #all .all-container .header {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
* body #all .all-container .header h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding-bottom: 2rem;
  color: #0c5a4b;
  padding-top: 5rem;
}
* body #all .all-container .header .shop-ways {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}
* body #all .all-container .header .shop-ways h3 {
  padding-top: 2rem;
}
* body #all .all-container .header .shop-ways h3 a {
  text-decoration: none;
  color: #9aa1a0;
  font-weight: normal;
}
* body #all .all-container .header .shop-ways h3 a:hover {
  color: #0c5a4b;
  font-weight: bold;
}
* body #all .all-container .category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
* body #all .all-container .category .category-img {
  padding: 2rem;
}
* body #all .all-container .category .category-img img {
  box-shadow: -2rem -1rem #5b977b;
}
* body #all .all-container .category .category-room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin: 3rem;
}
* body #all .all-container .category .category-room .room {
  padding-top: 1rem;
  text-align: center;
  border: 2px solid #9aa1a0;
}
* body #all .all-container .category .category-room .room a {
  text-decoration: none;
  color: #9aa1a0;
}
* body #all .all-container .category .category-room .room:hover {
  background: #5b977b;
}
* body #customers {
  padding-top: 5rem;
}
* body #customers .customers-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
* body #customers .customers-container .customers-img {
  height: 98%;
  width: 90%;
  background: #5b977b;
  border-radius: 50%;
}
* body #customers .customers-container .customers-img img {
  margin-left: 8rem;
  width: 90%;
}
* body #customers .customers-container .customers-text {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
* body #customers .customers-container .customers-text h3, * body #customers .customers-container .customers-text p {
  padding-bottom: 2rem;
}
* body #customers .customers-container .customers-text .mih-jibon {
  display: flex;
}
* body #customers .customers-container .customers-text .mih-jibon div {
  display: block;
  padding-left: 1rem;
}
* body #customers .customers-container .customers-text .mih-jibon div i {
  color: #BD8110;
}
* body #latest-news .latest-new-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background: #f6f9f9;
  padding: 3rem;
  text-align: center;
}
* body #latest-news .latest-new-container h3 {
  margin-bottom: 2rem;
}
* body #latest-news .latest-new-container .input-container {
  display: flex;
  padding: 0.5rem;
  margin: 2rem auto;
  width: max-content;
  background: #fff;
  box-shadow: 0 0.3rem 1rem #a3aba9;
}
* body #latest-news .latest-new-container .input-container input:first-of-type {
  padding: 0.5rem 2rem;
  border: transparent;
}
* body #latest-news .latest-new-container .input-container input:last-of-type {
  padding: 0.5rem;
  background: #5b977b;
  color: #fff;
  border: transparent;
}
* body #latest-news .latest-new-container .input-container input:last-of-type:hover {
  background: #88b7a1;
}
* body #contacts {
  background: #5b977b;
}
* body #contacts .contacts-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 2rem;
}
* body #contacts .contacts-container .block {
  padding: 2rem;
}
* body #contacts .contacts-container .block p {
  padding-bottom: 2rem;
}
* body #contacts .contacts-container .block h3, * body #contacts .contacts-container .block .logo {
  margin-bottom: 2rem;
}
* body #contacts .contacts-container .block a {
  text-decoration: none;
  color: #fff;
}
* body #contacts .contacts-container .block a:hover {
  color: #bfbfbf;
  font-weight: bold;
}
* body #contacts .contacts-container .block ul {
  list-style: none;
}
* body #contacts .contacts-container .block #your-email {
  padding: 0.5rem;
  border: transparent;
}
* body #contacts .contacts-container .block .input {
  background: #fff;
  width: max-content;
}
* body #contacts .contacts-container .block .input button {
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
  border: transparent;
  background: #BD8110;
  margin-right: 0.5rem;
}
* body #contacts .contacts-container .block .input button:hover {
  color: #edaa2c;
}
* body #contacts .contacts-container .social .icons {
  padding-left: 0;
  padding-bottom: 0;
}
* body #contacts .contacts-container .social i {
  background: #fff;
  border-radius: 50%;
  padding: 0.4rem;
  color: #0c5a4b;
}
* body #contacts .contacts-container .social i:hover {
  background: #b3b3b3;
}
* body #back {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
* body #back .back-container {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}
* body #back .back-container a {
  background: #fff;
  border: 1px solid #161616;
  text-decoration: none;
  padding: 1rem;
  color: #161616;
}
* body footer {
  display: flex;
  background: #5b977b;
  border-top: 2px solid #78ad94;
}
* body footer p {
  padding: 2rem;
  margin: 0 auto;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
  }
  body .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  body .nav .search {
    box-shadow: 0 0.5rem 1rem #9aa1a0;
    padding: 0 1rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  body #showcase {
    padding-top: 10rem;
  }
  body #showcase .showcase-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    grid-template-columns: 50% 50%;
  }
  body #showcase .showcase-container .showcase-textblock {
    padding: 2rem;
  }
  body #showcase .showcase-container .showcase-textblock h1 {
    font-size: 3rem;
  }
  body #about {
    padding-top: 5rem;
  }
  body #about .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
  body #about .about-container .img {
    display: flex;
    align-items: center;
  }
  body #about .about-container .img img {
    width: 100%;
  }
  body #features {
    padding-top: 5rem;
  }
  body #features .features-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  body #features .features-container .popular-blocks {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  body #features .features-container .popular-blocks .block .popular-img img {
    width: 100%;
  }
  body #features .features-container .popular-blocks .block:last-of-type {
    display: none;
  }
  body #all {
    padding: 10rem 2rem 0 2rem;
  }
  body #all .all-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  body #all .all-container .category {
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
  }
  body #all .all-container .category .category-img {
    padding: 5rem 1rem 0 0;
    display: flex;
    align-items: center;
  }
  body #all .all-container .category .category-img img {
    width: 100%;
    box-shadow: -2rem -5rem #5b977b;
  }
  body #all .all-container .category .category-room {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
  }
  body #all .all-container .category .category-room .room {
    padding-top: 1rem;
    text-align: center;
    border: 2px solid #9aa1a0;
  }
  body #customers {
    padding-top: 10rem;
  }
  body #customers .customers-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    gap: 1rem;
  }
  body #customers .customers-container .customers-text {
    padding: 0 2rem 0 5rem;
  }
  body #customers .customers-container .customers-text .customers-img img {
    width: 80%;
  }
  body #latest-news {
    padding-top: 10rem;
  }
  body #contacts .contacts-container {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
  }
  body #contacts .contacts-container .block:last-of-type {
    grid-column: 1/4;
    display: flex;
    float: left;
    text-align: center;
    justify-content: space-between;
  }
  body #contacts .contacts-container .subscribe {
    align-items: center;
  }
  body #contacts .contacts-container .subscribe h3, body #contacts .contacts-container .subscribe p {
    padding-top: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  body {
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  body #nav {
    width: 100%;
  }
  body #nav .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
  }
  body #nav .nav-container .navbar {
    float: left;
  }
  body #nav .nav-container .navbar .menu ul {
    display: flex;
    flex-direction: column;
  }
  body #showcase .showcase-container {
    padding: 9rem 0 0 0;
    display: flex;
    flex-direction: column;
  }
  body #showcase .showcase-container .showcase-img {
    margin-top: -5px;
  }
  body #about .about-container {
    padding: 12rem 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body #about .about-container .text {
    padding: 0;
  }
  body #about .about-container li {
    display: flex;
    flex-direction: column;
  }
  body #about .about-container li i {
    padding-bottom: 2rem;
  }
  body #features .features-container {
    padding: 11rem 0 0 0;
  }
  body #features .features-container #popular-header {
    padding: 1rem;
    flex-direction: column;
  }
  body #features .features-container #popular-header .header {
    padding: 0;
    text-align: center;
  }
  body #features .features-container #popular-header .arrows {
    padding-top: 3rem;
    padding-bottom: 0;
  }
  body #features .features-container .popular-blocks {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  body #features .features-container .popular-blocks .block:nth-of-type(2), body #features .features-container .popular-blocks .block:nth-of-type(3) {
    display: none;
  }
  body #features .features-container .popular-blocks .block .popular-ref a {
    padding: 0 0.6rem;
  }
  body #all {
    padding: 3rem 0 0 0;
  }
  body #all .all-container {
    padding: 0;
  }
  body #all .all-container .header .shop-ways {
    display: flex;
    flex-direction: column;
  }
  body #all .all-container .header .shop-ways h3 {
    padding: 0;
  }
  body #all .all-container .category {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  body #all .all-container .category .category-img {
    padding: 0;
  }
  body #all .all-container .category .category-img img {
    box-shadow: none;
  }
  body #all .all-container .category .category-room {
    padding: 1rem;
  }
  body #customers {
    padding: 5rem 0 0 0;
  }
  body #customers .customers-container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  body #customers .customers-container .customers-img {
    background: transparent;
    margin: 0;
    width: 100%;
  }
  body #customers .customers-container .customers-img img {
    margin: 0 auto;
    width: 100%;
  }
  body #customers .customers-container .customers-text {
    padding: 1rem;
    text-align: center;
  }
  body #latest-news .latest-new-container {
    padding: 1rem;
  }
  body #latest-news .latest-new-container p {
    padding: 0;
  }
  body #contacts {
    padding-top: 16rem;
    background: #f6f9f9;
  }
  body #contacts .contacts-container {
    background: #5b977b;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  body #contacts .contacts-container .block {
    padding: 2rem;
  }
  body #contacts .contacts-container .block h3, body #contacts .contacts-container .block .logo {
    margin-bottom: 1rem;
  }
  body #contacts .contacts-container .subscribe {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  body #contacts .contacts-container .subscribe p {
    padding-top: 0;
  }
  body footer {
    text-align: center;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
