/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**/
body {
    font-size: 1.3rem;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.content-box {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}
.btn {
    background: #7AE5FD;
    width: max-content;
    text-transform: uppercase;
    padding: 21px 28px;
    border-radius: 87px;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 120%;
}
/*img resizing*/
.adapt_img {
    width: 100%;
    height: auto;
}
/*optional*/
.btn:hover {
    filter: brightness(95%);
}
.btn a {
    text-decoration: none;
    color: #000000;

}
.blue {
    color: #73A6B1;
}
/*header*/
header {
    margin-bottom: 10rem;
}
#navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.navigation-container {
    display: flex;
    padding: 3rem 1rem;
    height: 4rem;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.logo {
    margin-right: auto;
}
.menu {
    margin: 0 4rem 0 0;
    font-size: 1.1rem;
    padding-top: 18px;
}
.menu a {
    text-decoration: none;
    color: #000000;
}

.burger {
    display: none;
}


#showcase {
    display: flex;
    flex-direction: column;
    background: #F1FDFF;
}
.showcase-background_1 {
    background: url("../img/showcase_background.png") no-repeat right;
    margin-bottom: -5rem;
}
.showcase-background_2 {
    background: url("../img/showcase_img.png") no-repeat right;
    margin-bottom: 5rem;
}
.showcase_header {
    max-width: 700px;
    text-transform: uppercase;
    font-size: 5.8rem;
    font-weight: 800;
    color: #9AD2DE;
    padding-top: 12rem;
    padding-bottom: 3rem;
}
.showcase_text {
    max-width: 500px;
    padding-bottom: 10rem;
}

/*main*/
/*programm*/
#programm {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
}
.programm_header {
    text-align: center;
    padding-bottom: 4.5rem;
}
.programm_header h2 {
    text-transform: uppercase;
    font-size: 3.75rem;
    padding-bottom: 1rem;
}
.programm_header p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.programm_block {
    background: #F1FDFF;
    border-radius: 10px;
    padding: 2.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.programm_text h3 {
   font-size: 2.8rem;
   padding-bottom: 1rem;
}
.programm_text li {
    padding: 3rem 0 0 0;
}
.programm_text li p {
    padding-bottom: 0.5rem;
}
/*padding before img (necessary for small screens)*/
.programm_text li:last-of-type {
    padding-bottom: 2rem;
}
.programm_img {
    display: block;
    margin: auto 0;
    flex-basis: 600px;
}
.programm_btn {
    margin: 0 auto;
}
/**/
/*present*/
#present {
    background: url("../img/main_present_background.png") no-repeat center;
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 10rem 0;
}
.present_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #F1FDFF;
    border-radius: 10px;
    padding: 2.5rem;
}
.present_text {
   width: 50%;
    display: flex;
    align-items: center;
}
.present_text p {
    font-size: 1.6rem;
    max-width: 391px;
}
.present_img {
    flex-basis: 400px;
    margin: -7rem auto;
}
.present_img img {
   height: 100%;
}
/**/
/*entrance*/
#entrance {
    max-width: 740px;
    text-align: center;
    padding-top: 9rem;
}
#entrance h2 {
    font-size: 3.7rem;
    padding-bottom: 20px;
}
#entrance p {
    padding-bottom: 77px;
}
#entrance h4 {
    font-size: 1.6rem;
    padding-bottom: 25px;
}
.entrance_donat {
    font-size: 3.7rem;
    padding-bottom: 70px;
}
.entrance_donat span {
    padding: 0 10px;
}
.entrance_donat span:nth-of-type(2) {
    border-left: solid 2px #73A6B1;
    border-right: 2px solid #73A6B1;
}
.entrance_btn {
    margin: 0 auto;
    border: transparent;
    font-size: 1.2rem;
}
/**/
/*footer*/
footer {
    margin-top: 10rem;
}
.footer_container {
    background: url("../img/contacts_background.png") no-repeat top left,#F9FADF;
    height: 100%;
    padding-top: 9rem;
    padding-bottom: 10rem;
}
#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contacts h2 {
    font-size: 3.7rem;
}
.contacts_info {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;

}
.contacts_info img {
    margin: 10px;
    width: 32px;
}
/*icons grows on hover*/
.contacts_info img:hover {
    width: 36px;
    margin: 8px;
}
/**/
.contacts_tel a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    line-height: 1.8rem;
}
.contacts_media {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.contact_form {
    background: #ffffff;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 1rem;
}
.contact_form_img {
    display: flex;
    padding: 2rem;
}
.contact_form_text {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    width: 40%;
    justify-content: center;

}
.yellow_btn {
    background: #F9FADF;
    width: 100%;
    border-radius: 61px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 2rem;
    border: transparent;
    margin: 2.5rem 0 0 0;
    font-size: 1.3rem;
    box-sizing: border-box;
}
.contact_form_btn {
    border: transparent;
    width: 100%;
    margin: 2.5rem 0 0 0;
    font-size: 1.3rem;
}
/**/
@media screen and (max-width: 700px) {
    /*burger*/
   .nav {
       display: none;

   }
    .burger {
        display: block;
        position: relative;
    }
    .burger_toggle {
      display: none;
    }
    .burger_btn {
        padding-top: 1rem;
    }
    .burger_menu {
        display: none;
    }
    .burger_line {
        display: block;
        position: relative;
        width: 2rem;
        height: 3px;
        background: #000000;
        margin: 1rem;
    }
    .burger_line:before {
        content: "";
        position: absolute;
        top: -8px;
        width: 2rem;
        height: 3px;
        background: #000000;
    }
    .burger_line:after {
        content: "";
        position: absolute;
        top: 8px;
        width: 2rem;
        height: 3px;
        background: #000000;
    }
    .burger_toggle:checked .burger_menu {
        display: block;
    }
/**/
   .showcase_header {
       font-size: 2.5rem;
   }
   .programm_header h2, .programm_block h3, #entrance h2, #contacts h2 {
       font-size: 2rem;
   }
    .entrance_donat {
        font-size: 2rem;
    }
    .btn {
        font-size: 1rem;
    }
    .contact_form_img {
        padding: 0;
    }
    .showcase-background_1 {
       background: none;
    }
    .showcase-background_2 {
        background: url("../img/showcase_img.png") no-repeat center/cover;
    }
    #present {
        background: none;
    }
    .present_img {
        margin: 1rem auto;
    }
    .present_text {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .content-box {
        padding: 1rem;
    }
    .programm_block {
        padding: 1rem;
    }
}